@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}

.template-editor-container {
  position: relative;
  width: 100%;
}
.template-editor {
  background: #fff;
  border: 1px solid #e4ebed;
  height: auto;
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 14px;
  line-height: 26px;
}
.template-editor p {
  margin: 0;
}

.template-editor-autocomplete {
  /* position: absolute; */
  background: #fff;
  width: 100%;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.template-editor-autocomplete button {
  width: 100%;
  border: none;
  background: none;
  text-align: left;
  padding: 10px;
}
.template-editor-autocomplete button:hover {
  cursor: pointer;
  background: #f6f7f8;
}

.code-block {
  background: #f6f7f8;
  padding: 8px;
  border-radius: 4px;
  color: #545454;
  border: 1px solid #eeeff1;
  overflow: auto;
  line-height: 20px;
}

.code-section {
  margin-bottom: 8px;
}
.code-title {
  font-weight: 600;
}

.section {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.container {
  width: 400px;
}

.inline-variable {
}

.inline-variable.focus .tag {
  box-shadow: 0 0 0 2px #b4d5ff;
}

.tag {
  display: inline-flex;
  align-items: center;
  background-color: rgb(255, 241, 219);
  vertical-align: middle;
  position: relative;
  top: -1px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 214, 146);
  border-image: initial;
  margin: 0 2px;
  padding: 0 4px;
  height: 20px;
}

.tag-context {
  font-weight: 600;
}
